.nav_center_text li a{
    color: #063464;
    font-weight: bold;
}

#solucao{
    margin-top: -5rem;
    color: white;
    padding: 2rem;
}

#solucao div{
    padding: 2rem;
}

#before_navbar{
    background-color: #063464;
}

footer{
    background-color: #032b56;
    margin-top: 5rem;
}

ul {
  list-style-type: none;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

#saibaMaisLimpadoraAlfa{
    margin: 5rem;
}

#tiposDeLimpeza{
    margin-top: 5rem;
    background-color: #063464;
    padding: 5rem;
}

#saibaMaisImg{
    background-image: url(../img/saibaMais-focus.png);
}

#saibaMaisTxt{
    background-image: url(../img/floating_icons.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#tiposDeLimpezaText{
    margin-bottom: 2rem;
    color: white;
}