#limpezaCarousel .carousel-item{
    height: 35rem;
    background: #777;
    color: white;
    position: relative;
}

#limpezaCarousel .carousel-item .container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 30px;
    text-emphasis-color: red;
}

#limpezaCarousel .carousel-inner .first{
    background-image: url(../img/limpesaEstofado.png);
}

#limpezaCarousel .carousel-inner .first .btn{
    color: #063464;
}

#tiposDeLimpezaCarousel .carousel-indicators{
    margin-top: 1rem;
}