

.bk-img-responsive{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 768px) {
    .nossosServicos{
        justify-content: flex-start ;
    }
    #saibaMaisImg{
        background-image: url(../img/saibaMais-focus.png);
        height: auto;
    }  
}
@media only screen and (max-width: 767px) {
    #saibaMaisLimpadoraAlfa{
        margin: 10px;
    }
      #tiposDeLimpeza .carousel-inner .carousel-item > div {
    display: none;
  }
  #tiposDeLimpeza .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
    
    #tiposDeLimpezaCarousel .carousel-inner .carousel-item div{
        width: 100%;
    }
}
